
.bubble-1 {
  left: 300px;
  animation-delay: 8s;
}
.bubble-1 .bubble-animation-y{
  animation-delay: 0.7s;
}

.bubble-2 {
  left: 33px;
  animation-delay: 2s;
}
.bubble-2 .bubble-animation-y{
  animation-delay: 2.1s;
}

.bubble-3 {
  left: 225px;
  animation-delay: 8s;
}
.bubble-3 .bubble-animation-y{
  animation-delay: 3.8s;
}

.bubble-4 {
  left: 285px;
  animation-delay: 0s;
}
.bubble-4 .bubble-animation-y{
  animation-delay: 10s;
}

.bubble-5 {
  left: 15px;
  animation-delay: 1.5s;
}
.bubble-5 .bubble-animation-y{
  animation-delay: 7s;
}

.bubble-6 {
  left: 405px;
  animation-delay: 5.5s;
}
.bubble-6 .bubble-animation-y{
  animation-delay: 9s;
}

.bubble-7 {
  left: 885px;
  animation-delay: 5.5s;
  width: 75px;
  height: 75px;

}
.bubble-7 .bubble-animation-y{
  animation-delay: 9s;
}

.bubble-8 {
  left: 625px;
  animation-delay: 13s;
}
.bubble-8 .bubble-animation-y{
  animation-delay: 8s;
}

.bubble-9 {
  left: 975px;
  animation-delay: 3s;
}
.bubble-9 .bubble-animation-y{
  animation-delay: 1s;
}

.bubble-10 {
  left: 555px;
  animation-delay: 2s;
  width: 25px;
  height: 25px;
 
}
.bubble-10 .bubble-animation-y{
  animation-delay: 15s;
}

.bubble-container {
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: 0;
}

.bubble {
  background-color: none;
  filter:blur(3px);
  opacity: 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 0px rgba(255, 255, 255, 1);
}

.bubble-animation-x {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bubbleXAnimFrames;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.bubble-animation-y {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: bubbleYAnimFrames;
  animation-timing-function: linear;
}

@keyframes bubbleXAnimFrames {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

@keyframes bubbleYAnimFrames {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 0.5;
  }
  95% {
    transform: translateY(-280px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}




*:focus {
    outline: none;
}
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: white;
}
body {
    font: 14px/21px"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
}
/* end bod y*/



#footer {
    margin:2px; background:#ccc; color: black; text-align:center;font-size:x-small;
    }
label {
     float:left;
    padding-right: 15px;
    text-indent: 5px;
}
#wrapper {
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #6f212f;
}
h1 {
    color: #222;
    margin: 10px 0 20px 0;
    padding: 0;
    font-size: 24px;
    text-align:center;
}

input#btnSubmit {font-size: 16px; height: 40px;}

input#item {
    float:left;
    margin-bottom:5px;
}
input#remove {
    float:right;
    margin-bottom:20px;
    margin-right:5px;
    border-radius: 5px;
    background-color: 	#FF4500;
     color: #ffffff;
     font-size:smaller;
      width: 65px;
      cursor: pointer;
}

input#remove:hover {
    background-color: #ff8566;
}

input#edit {
    float:right;
    margin-bottom:20px;
    margin-right:5px;
    border-radius: 5px;
    background-color: 	#00b300;
     color: #ffffff;
     font-size:smaller;
      width: 65px;
      cursor: pointer;
}

input#edit:hover {
    background-color: #008000;
}

input#adds {
    float:left;
    margin-bottom:10px;
    margin-right:5px;
    margin-left:10px;
     margin-top:5px;
	border-radius: 2px;
    background-color: #f44165;
     color: black;
      font-size:smaller;
      cursor: pointer;
}

input[type=checkbox] {
    vertical-align:middle;
}
input[type=button] {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 2px;
    color: white;
    width: 100%;
    height:25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
   
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=button]:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
}

ul {
    list-style-type:none;
    list-style-position:outside;
    margin:10px 0px;
    padding:0px;
    clear:both;
}
li {
    background: #ccc;
    margin:5px 0px;
    line-height:1.6;
    padding:10px;
   border: 1px solid #f2f2f2;
}
li:nth-child(odd) {
    background: #ccc;
}
li a {
    font-size:small;
}
form a {
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    cursor: pointer;
    float:right;
    font: 11px sans-serif;
    margin: 0;
    margin-top:2px;
    outline: medium none;
    overflow: visible;
    height:17px;
    padding:0.3em 0.3em 0 0.3em;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2E8B57;
    background-image: -moz-linear-gradient(center top, #4BC380, #2E8B57);
    border: 1px solid #1D5837;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1D5837;
}
form a:hover {
    background-color: #71D09B;
    background-image: -moz-linear-gradient(center top, #71D09B, #2E8B57);
    border: 1px solid #1D5837;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1D5837;
}
#labels {
     margin:2px; text-align:center; text-decoration: underline; font-weight: bold; font-size: 18px; color: #eee;
}

form a:active {
    border-color: #1D5837;
    color: #FFFFFF;
    text-shadow: none;
}
form a.delete {
    background-color: #CD0000;
    background-image: -moz-linear-gradient(center top, #FF2323, #CD0000);
    border: 1px solid #890000;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #890000;
    margin-top:0px;
    height:17px;
}
form a.delete:hover {
    background-color: #FF5656;
    background-image: -moz-linear-gradient(center top, #FF5656, #CD0000);
    border: 1px solid #890000;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #890000;
}
form a.delete:active {
    border-color: #890000;
    color: #FFFFFF;
    text-shadow: none;
}
